<!-- add customers -->


<div class="wrapper wrapper-content animated fadeInRight" ng-controller='AddCustCtrl'>
    <div class="row">
        
        <div class="col-lg-5">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form class="form-horizontal">

                        <div class="form-group"><label class="col-lg-2 control-label">Name</label>
                            <div class="col-lg-10">
                            <input type="text" placeholder="Customer Name" ng-model="custName" class="form-control">
                            </div>
                        </div>
                        <div class="form-group"><label class="col-lg-2 control-label">E-mail</label>
                            <div class="col-lg-10">
                            <input type="text" placeholder="E-mail" ng-model="email" class="form-control">
                            </div>
                        </div>
                        <div class="form-group"><label class="col-lg-2 control-label">Address1</label>
                            <div class="col-lg-10">
                            <textarea  placeholder="Address1" class="form-control" ng-model="addresss1"></textarea>
                            </div>
                        </div>
                         <div class="form-group"><label class="col-lg-2 control-label">Address2</label>
                            <div class="col-lg-10">
                            <textarea  placeholder="Address2" class="form-control" ng-model="addresss2"></textarea>
                            </div>
                        </div>
                         <div class="form-group"><label class="col-lg-2 control-label">Longitude</label>
                            <div class="col-lg-10">
                            <input type="text" placeholder="Longitude" ng-model="longitude" class="form-control">
                            </div>
                        </div>
                        <div class="form-group"><label class="col-lg-2 control-label">Latitude</label>
                            <div class="col-lg-10">
                            <input type="text" placeholder="Latitude" ng-model="latitude" class="form-control">
                            </div>
                        </div>
                        <div class="form-group"><label class="col-lg-2 control-label">Area</label>
                            <div class="col-lg-10">
                            <input type="text" placeholder="Customer Name" ng-model="area" class="form-control">
                            </div>
                        </div>
                        <div class="form-group"><label class="col-lg-2 control-label">City</label>
                            <div class="col-lg-10">
                            <textarea  placeholder="" class="form-control" ng-model="city"></textarea>
                            </div>
                        </div>
                        <div class="form-group"><label class="col-lg-2 control-label">State</label>
                            <div class="col-lg-10">
                            <textarea  placeholder="" class="form-control" ng-model="state"></textarea>
                            </div>
                        </div>
                         <div class="form-group"><label class="col-lg-2 control-label">Region</label>
                            <div class="col-lg-10">
                            <textarea  placeholder="" class="form-control" ng-model="region"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-offset-2 col-lg-10">
                                <button class="btn btn-sm btn-primary" ng-click="addCustomer()"><i class="fa fa-plus"></i> Add Customer</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
        </div>
    </div>
</div>
