<!-- add customers -->


<div class="wrapper wrapper-content animated fadeInRight" ng-controller='AddCustCtrl'>
    <div class="row">
        <div >
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form class="form-horizontal">

                        <div class="form-group"><label class="col-lg-2 control-label">Name</label>
                            <div class="col-lg-10">
                            <input type="text" placeholder="Customer Name" ng-model="cust.cust_name" class="form-control">
                            </div>
                        </div>
                        <div class="form-group"><label class="col-lg-2 control-label">E-mail</label>
                            <div class="col-lg-10">
                            <input type="text" placeholder="E-mail" ng-model="cust.email" class="form-control">
                            </div>
                        </div>
                        <div class="form-group"><label class="col-lg-2 control-label">Address1</label>
                            <div class="col-lg-8">
                            <textarea  placeholder="Address1" class="form-control" ng-model="cust.addr_line1"></textarea>
                            </div>
                            <div class="col-lg-2">
                            <button class="btn btn-primary" class="form-control" ng-click="getLatitudeLongitude()">
                            <i class="fa fa-map-maker" ng-show="!getlatlong"></i>
                            <i class="fa fa-spinner fa-spin" ng-show="getlatlong"></i> Get Location</button>
                            </div>
                        </div>
                         <div class="form-group"><label class="col-lg-2 control-label">Address2</label>
                            <div class="col-lg-10">
                            <textarea  placeholder="Address2" class="form-control" ng-model="cust.addresss2"></textarea>
                            </div>
                        </div>
                         <div class="form-group"><label class="col-lg-2 control-label">Longitude</label>
                            <div class="col-lg-10">
                            <input type="text" placeholder="Longitude" ng-model="cust.longitude" class="form-control">
                            </div>
                        </div>
                        <div class="form-group"><label class="col-lg-2 control-label">Latitude</label>
                            <div class="col-lg-10">
                            <input type="text" placeholder="Latitude" ng-model="cust.latitude" class="form-control">
                            </div>
                        </div>
                        <div class="form-group"><label class="col-lg-2 control-label">Area</label>
                            <div class="col-lg-10">
                            <input type="text" placeholder="Area Name" ng-model="cust.area_name" class="form-control">
                            </div>
                        </div>
                        <div class="form-group"><label class="col-lg-2 control-label">City</label>
                            <div class="col-lg-10">
                           <input type="text" placeholder="City" ng-model="cust.city" class="form-control">
                             </div>
                        </div>
                        <div class="form-group"><label class="col-lg-2 control-label">Route</label>
                            <div class="col-lg-10">
                           <input type="text" placeholder="State" ng-model="state" class="form-control">
                             </div>
                        </div>
                         <div class="form-group"><label class="col-lg-2 control-label">JP Day</label>
                            <div class="col-lg-10">
                          <input type="text" placeholder="Customer Name" ng-model="region" class="form-control">
                              </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-offset-2 col-lg-10">
                                <button class="btn btn-sm btn-primary" ng-click="addCustomer()"><i class="fa fa-plus"></i> {{btnTxt}}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div>
             <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <i class="fa fa-map-marker"></i> Retailer Location
                </div>
                <div class="ibox-content">
                    <form class="form-horizontal">
                      <ng-map center="{{cust.latitude}}, {{cust.longitude}}"  zoom="14" >
                      <marker position="[{{cust.latitude}}, {{cust.longitude}}]" title="{{cust.addr_line1}}"></marker>
                      </ng-map>
                    </form>
                </div>
            </div>    
        </div>
    </div>
</div>
