<!-- add customers -->


<div class="wrapper wrapper-content animated fadeInRight" ng-controller='AddCustCtrl'>
    <div class="row">
        
        <div class="col-lg-5">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form class="form-horizontal">

                        <div class="form-group"><label class="col-lg-2 control-label">Name</label>

                            <div class="col-lg-10"><input type="text" placeholder="Customer Name" ng-model="custName" class="form-control">
                            </div>
                        </div>
                        <div class="form-group"><label class="col-lg-2 control-label">Address</label>

                            <div class="col-lg-10">
                            <textarea  placeholder="Password" class="form-control" ng-model="addresss"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-offset-2 col-lg-10">
                                <button class="btn btn-sm btn-primary" ng-click="addCustomer()"><i class="fa fa-plus"></i> Add Customer</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
        </div>
    </div>
</div>
